P{border: 10px solid purple;
    padding: 20px;
    width:20%;
    text-align: justify;
    background-color: lightblue;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
    color: white;
}