h1{
    color: red;
    text-align: center;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse; */
    text-align: center;
    margin: auto;
    width:50%;
    font-size: 20px;
    padding: 10px;
    margin-top: 80px;

}
th{
    background-color: lightblue;
}